{
    "openapi": "3.0.3",
    "info": {
        "title": "Swagger iContracts - OpenAPI 3.0",
        "description": "Swagger iContracts - OpenAPI 3.0",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://nginx-i-marmolpen3.cloud.okteto.net/"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "iContracts"
                ],
                "summary": "get hello",
                "description": "Hello",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/v1/predictions": {
            "post": {
                "tags": [
                    "iContracts"
                ],
                "summary": "get a prediction",
                "description": "get if a sentence is obligation, rigth or neither",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "paragraph": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "required": true
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        }
    }
}